@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@font-face {
  font-family: Youngserif;
  src: url("components/YoungSerif-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.image {
  /* width: 100vw; */
  height: 900px;
  margin-left: 12%;
  /* background-color: chartreuse; */
}

.banner {
  position: relative;
  overflow: hidden;
}

.Main-Name {
  position: absolute;
  top: 10%;
  left: 7%;
  font-family: Youngserif;
  width: 25%;
  color: #611d40;
  line-height: 90px;
  font-size: 8rem;
}
.intermediate {
  position: absolute;
  bottom: 47%;
  left: 7%;
  font-family: Youngserif;
  width: 25%;
  color: #611d40;
  line-height: 85px;
  font-size: 2rem;
}
.doctor-name {
  position: absolute;
  bottom: 30%;
  left: 7%;
  font-family: Youngserif;
  width: 25%;
  color: #611d40;
  line-height: 85px;
  font-size: 4rem;
  width: 12%;
  line-height: 6rem;
}

.Main-Name {
  font-size: 8rem;
}
/* background-color: aqua; */
/* background-image: url("10401.jpg");
  background-repeat: no-repeat; */

/* .banner::after {
  content: "Samiksha Clinic";
  font-family: Youngserif;
  position: absolute;
  top: 500%;
  left: 15%;
  font-size: 8rem;
  width: 25%;
} */
/* .banner {
  background-image: url("ayurveda1.jpg");
} */ /*
body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  border-bottom: 1.6rem solid #edc84b;
  min-height: 100vh;
  padding: 3.2rem;
  padding-bottom: 6rem;
}*/
/* 
 .container {
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

/* *************** */

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
